# 1. Famílias inscritas no Cadastro Único por faixa de renda per capita

# 2. Membros
Thiago Augusto Vaz Silveira - 2023001506

Vanessa Nascimento Silva - 2023001816

Yuri Estevao Sales de Oliveira - 2023087850

# 3. Descrição dos dados (qual a URL? qual o domínio? como os dados foram processados?)

In [1]:
import sqlite3
import pandas as pd

# Caminho do banco de dados
db_path = r"C:\Users\Dell\OneDrive\Documentos\2024-2\IBD\TP2\dados.db"

# Conexão com o banco de dados
conn = sqlite3.connect(db_path)

# 4. Diagrama ER

# 5. Diagrama relacional

# 6. Consultas

Teste 1: Listar as tabelas no banco

In [2]:
query = "SELECT name FROM sqlite_master WHERE type='table';"
tables = pd.read_sql_query(query, conn)
print("Tabelas disponíveis:")
print(tables)

Tabelas disponíveis:
                       name
0                 Municipio
1                   Periodo
2            FamiliasPobres
3        FamiliasBaixaRenda
4  FamiliasAcimaMeioSalario

Teste 2: Conferir as junções de tabela

In [3]:
query = """
SELECT Municipio.nome_municipio, FamiliasPobres.qtd_familias
FROM Municipio
JOIN FamiliasPobres  
    ON CAST(TRIM(Municipio.codigo_ibge) AS TEXT) = CAST(TRIM(FamiliasPobres.codigo_ibge) AS TEXT)
WHERE TRIM(Municipio.uf) = 'SP' AND FamiliasPobres.mes = '202401'
ORDER BY FamiliasPobres.qtd_familias DESC
LIMIT 10;
"""

df = pd.read_sql_query(query, conn)
df

          nome_municipio  qtd_familias
0              São Paulo        780784
1              Guarulhos        120403
2               Campinas         63700
3                 Osasco         50433
4    São José dos Campos         49545
5  São Bernardo do Campo         45347
6            Santo André         44189
7        Mogi das Cruzes         38790
8               Sorocaba         37868
9        Itaquaquecetuba         37284

## 6.1 Duas consultas envolvendo seleção e projeção

### 6.1.1 Consulta 1

Cidades do estado de São Paulo com mais de 10.000 famílias em situação de pobreza (2024-01)

In [4]:
query = """
SELECT 
    Municipio.nome_municipio,
    FamiliasPobres.qtd_familias
FROM Municipio
JOIN FamiliasPobres 
    ON CAST(TRIM(Municipio.codigo_ibge) AS TEXT) = CAST(TRIM(FamiliasPobres.codigo_ibge) AS TEXT)
WHERE TRIM(Municipio.uf) = 'SP' AND FamiliasPobres.qtd_familias > 10000 AND FamiliasPobres.mes = '202401'
ORDER BY FamiliasPobres.qtd_familias DESC
"""

df = pd.read_sql_query(query, conn)
df

           nome_municipio  qtd_familias
0               São Paulo        780784
1               Guarulhos        120403
2                Campinas         63700
3                  Osasco         50433
4     São José dos Campos         49545
5   São Bernardo do Campo         45347
6             Santo André         44189
7         Mogi das Cruzes         38790
8                Sorocaba         37868
9         Itaquaquecetuba         37284
10            Carapicuíba         32885
11         Embu das Artes         31328
12            São Vicente         28593
13                Diadema         27480
14                 Suzano         26642
15         Ribeirão Preto         26575
16  São José do Rio Preto         22349
17                Guarujá         21444
18                   Mauá         21316
19       Francisco Morato         20308
20   Itapecerica da Serra         20154
21                Barueri         19422
22        Taboão da Serra         19144
23                Itapevi         18467
24               Itanhaém         18248
25                Limeira         17979
26           Praia Grande         17180
27                 Santos         16534
28  Ferraz de Vasconcelos         16487
29                  Bauru         15583
30                 Sumaré         15455
31        Franco da Rocha         14637
32            Hortolândia         14298
33             Piracicaba         14126
34                 Franca         13697
35                  Cotia         13407
36        Pindamonhangaba         13051
37                    Poá         12930
38                Taubaté         12903
39             São Carlos         12047
40          Caraguatatuba         11115
41                Ubatuba         10635
42             Araraquara         10426
43    Presidente Prudente         10422
44                Cubatão         10259
45      Bragança Paulista         10110

### 6.1.2 Consulta 2

Cidades do estado de Rondônia

In [5]:
query = """
SELECT nome_municipio, TRIM(uf) AS uf
FROM Municipio
WHERE TRIM(uf) = 'RO'
ORDER BY nome_municipio;
"""

df = pd.read_sql_query(query, conn)
df

               nome_municipio  uf
0       Alta Floresta D'oeste  RO
1     Alto Alegre dos Parecis  RO
2                Alto Paraíso  RO
3            Alvorada D'oeste  RO
4                   Ariquemes  RO
5                     Buritis  RO
6                      Cabixi  RO
7                 Cacaulândia  RO
8                      Cacoal  RO
9      Campo Novo de Rondônia  RO
10         Candeias do Jamari  RO
11               Castanheiras  RO
12                 Cerejeiras  RO
13                Chupinguaia  RO
14          Colorado do Oeste  RO
15                 Corumbiara  RO
16              Costa Marques  RO
17                    Cujubim  RO
18            Espigão D'oeste  RO
19  Governador Jorge Teixeira  RO
20              Guajará-Mirim  RO
21            Itapuã do Oeste  RO
22                       Jaru  RO
23                  Ji-Paraná  RO
24         Machadinho D'oeste  RO
25         Ministro Andreazza  RO
26           Mirante da Serra  RO
27                Monte Negro  RO
28   Nova Brasilândia D'oeste  RO
29                Nova Mamoré  RO
30                 Nova União  RO
31    Novo Horizonte do Oeste  RO
32        Ouro Preto do Oeste  RO
33                    Parecis  RO
34              Pimenta Bueno  RO
35       Pimenteiras do Oeste  RO
36                Porto Velho  RO
37          Presidente Médici  RO
38      Primavera de Rondônia  RO
39                 Rio Crespo  RO
40             Rolim de Moura  RO
41        Santa Luzia D'oeste  RO
42               Seringueiras  RO
43         São Felipe D'oeste  RO
44   São Francisco do Guaporé  RO
45      São Miguel do Guaporé  RO
46              Teixeirópolis  RO
47                  Theobroma  RO
48                      Urupá  RO
49              Vale do Anari  RO
50            Vale do Paraíso  RO
51                    Vilhena  RO

## 6.2 Três consultas envolvendo junção de duas relações

### 6.2.1 Consulta 3

10 cidades com o maior indicador de famílias pobres (2024-01)

In [6]:
query = """
SELECT 
    Municipio.nome_municipio,
    FamiliasPobres.qtd_familias AS familias_pobres
FROM Municipio
JOIN FamiliasPobres 
    ON Municipio.codigo_ibge = FamiliasPobres.codigo_ibge
WHERE FamiliasPobres.mes = '202401'
ORDER BY FamiliasPobres.qtd_familias DESC
LIMIT 10;
"""

df = pd.read_sql_query(query, conn)
df

    nome_municipio  familias_pobres
0        São Paulo           780784
1   Rio de Janeiro           679421
2        Fortaleza           368963
3         Salvador           361025
4           Manaus           304436
5            Belém           226664
6         Brasília           206992
7      Nova Iguaçu           167222
8           Recife           149647
9  Duque de Caxias           143778

### 6.2.2 Consulta 4 //colocar periodo na consulta

Total de famílias pobres por municipio em Rondônia

In [7]:
query = """
SELECT Municipio.nome_municipio, SUM(FamiliasPobres.qtd_familias) AS total_familias_pobres
FROM Municipio
JOIN FamiliasPobres
    ON Municipio.codigo_ibge = FamiliasPobres.codigo_ibge
WHERE TRIM(Municipio.uf) = 'RO'
GROUP BY Municipio.nome_municipio
ORDER BY Municipio.nome_municipio;
"""

df = pd.read_sql_query(query, conn)
df

               nome_municipio  total_familias_pobres
0       Alta Floresta D'oeste                  15621
1     Alto Alegre dos Parecis                   3739
2                Alto Paraíso                  11401
3            Alvorada D'oeste                  14265
4                   Ariquemes                  73970
5                     Buritis                  20324
6                      Cabixi                   2785
7                 Cacaulândia                   2893
8                      Cacoal                  56127
9      Campo Novo de Rondônia                   5769
10         Candeias do Jamari                  39175
11               Castanheiras                   2479
12                 Cerejeiras                  11824
13                Chupinguaia                   8615
14          Colorado do Oeste                   4436
15                 Corumbiara                   2684
16              Costa Marques                  21509
17                    Cujubim                  11647
18            Espigão D'oeste                  13508
19  Governador Jorge Teixeira                   9125
20              Guajará-Mirim                  52281
21            Itapuã do Oeste                   6513
22                       Jaru                  32535
23                  Ji-Paraná                  75421
24         Machadinho D'oeste                  24769
25         Ministro Andreazza                   6171
26           Mirante da Serra                   7732
27                Monte Negro                  14580
28   Nova Brasilândia D'oeste                  13810
29                Nova Mamoré                  27935
30                 Nova União                   7649
31    Novo Horizonte do Oeste                   4610
32        Ouro Preto do Oeste                  23742
33                    Parecis                   3943
34              Pimenta Bueno                  14577
35       Pimenteiras do Oeste                   2504
36                Porto Velho                 584962
37          Presidente Médici                  22015
38      Primavera de Rondônia                   3026
39                 Rio Crespo                   2046
40             Rolim de Moura                  18288
41        Santa Luzia D'oeste                   6069
42               Seringueiras                   8073
43         São Felipe D'oeste                   1802
44   São Francisco do Guaporé                  13880
45      São Miguel do Guaporé                  10800
46              Teixeirópolis                   3813
47                  Theobroma                   5272
48                      Urupá                  10755
49              Vale do Anari                  10875
50            Vale do Paraíso                   5209
51                    Vilhena                  47120

### 6.2.3 Consulta 5 //mesma pesquisa que a 9

Total de famílias pobres por estado (UF)

In [8]:
query = """
SELECT TRIM(Municipio.uf) AS uf, SUM(FamiliasPobres.qtd_familias) AS total_familias_pobres
FROM Municipio
JOIN FamiliasPobres
    ON Municipio.codigo_ibge = FamiliasPobres.codigo_ibge
GROUP BY TRIM(Municipio.uf)
ORDER BY TRIM(Municipio.uf);
"""

df = pd.read_sql_query(query, conn)
df

    uf  total_familias_pobres
0   AC                1385905
1   AL                5823448
2   AM                7441965
3   AP                1450192
4   BA               27509356
5   CE               15767691
6   DF                2199599
7   ES                3231115
8   GO                5331887
9   MA               13243827
10  MG               16657432
11  MS                2239975
12  MT                2721977
13  PA               15080385
14  PB                7354129
15  PE               18068628
16  PI                6532713
17  PR                6387196
18  RJ               21091434
19  RN                5416941
20  RO                1404673
21  RR                 873250
22  RS                7362891
23  SC                2430912
24  SE                4196303
25  SP               28871813
26  TO                1609907

## 6.3 Três consultas envolvendo junção de três ou mais relações

### 6.3.1 Consulta 6

Quantidade de famílias por indicador listadas por período no país (Ano de 2024)

In [9]:
query = """
SELECT 
    FamiliasPobres.mes AS periodo,
    SUM(FamiliasPobres.qtd_familias) AS total_familias_pobres,
    SUM(FamiliasBaixaRenda.qtd_familias) AS total_familias_baixa_renda,
    SUM(FamiliasAcimaMeioSalario.qtd_familias) AS total_familias_acima_meio_salario
FROM FamiliasPobres
LEFT JOIN FamiliasBaixaRenda 
    ON FamiliasPobres.codigo_ibge = FamiliasBaixaRenda.codigo_ibge
    AND FamiliasPobres.mes = FamiliasBaixaRenda.mes
LEFT JOIN FamiliasAcimaMeioSalario 
    ON FamiliasPobres.codigo_ibge = FamiliasAcimaMeioSalario.codigo_ibge
    AND FamiliasPobres.mes = FamiliasAcimaMeioSalario.mes
GROUP BY FamiliasPobres.mes
ORDER BY FamiliasPobres.mes;
"""

df = pd.read_sql_query(query, conn)
df

,periodo,total_familias_pobres,total_familias_baixa_renda,total_familias_acima_meio_salario
0,202401,21997398,7682784,12065373
1,202402,21029311,7799634,12807794
2,202403,21328900,7811526,12810349
3,202404,21452086,7789352,12783891
4,202405,21466550,7736443,12608050
5,202406,20637194,7666054,13617275
6,202407,20700062,7469029,12267457
7,202408,21048204,7474495,12288723
8,202409,20447162,7457342,12540219
9,202410,20691586,7478155,12606791
10,202411,20887091,7492928,12732443

### 6.3.2 Consulta 7

Cidade de cada estado com os maiores valores por indicador no período de 2024-01

In [10]:
query = """
WITH RankedCities AS (
    SELECT 
        Municipio.uf,
        Municipio.nome_municipio,
        FamiliasPobres.qtd_familias AS familias_pobres,
        FamiliasBaixaRenda.qtd_familias AS familias_baixa_renda,
        FamiliasAcimaMeioSalario.qtd_familias AS familias_acima_meio_salario,
        ROW_NUMBER() OVER (PARTITION BY Municipio.uf ORDER BY FamiliasPobres.qtd_familias DESC) AS rank_pobres,
        ROW_NUMBER() OVER (PARTITION BY Municipio.uf ORDER BY FamiliasBaixaRenda.qtd_familias DESC) AS rank_baixa_renda,
        ROW_NUMBER() OVER (PARTITION BY Municipio.uf ORDER BY FamiliasAcimaMeioSalario.qtd_familias DESC) AS rank_acima_meio_salario
    FROM Municipio
    LEFT JOIN FamiliasPobres 
        ON Municipio.codigo_ibge = FamiliasPobres.codigo_ibge AND FamiliasPobres.mes = '202401'
    LEFT JOIN FamiliasBaixaRenda 
        ON Municipio.codigo_ibge = FamiliasBaixaRenda.codigo_ibge AND FamiliasBaixaRenda.mes = '202401'
    LEFT JOIN FamiliasAcimaMeioSalario 
        ON Municipio.codigo_ibge = FamiliasAcimaMeioSalario.codigo_ibge AND FamiliasAcimaMeioSalario.mes = '202401'
)
SELECT 
    uf,
    nome_municipio,
    familias_pobres,
    familias_baixa_renda,
    familias_acima_meio_salario
FROM RankedCities
WHERE rank_pobres = 1 OR rank_baixa_renda = 1 OR rank_acima_meio_salario = 1
ORDER BY uf;
"""

df = pd.read_sql_query(query, conn)
df

,uf,nome_municipio,familias_pobres,familias_baixa_renda,familias_acima_meio_salario
0,AC,Rio Branco,44663,15653,17171
1,AL,Maceió,120245,39727,57792
2,AM,Manaus,304436,72186,108824
3,AP,Macapá,65338,19940,26009
4,BA,Salvador,361025,88841,105950
5,CE,Fortaleza,368963,101262,133431
6,DF,Brasília,206992,82975,92956
7,ES,Serra,44212,20685,28903
8,GO,Goiânia,78916,45828,77717
9,MA,São Luís,132964,35207,40851
10,MG,Belo Horizonte,137780,66261,104678
11,MS,Campo Grande,63021,43328,83752
12,MT,Cuiabá,46322,26842,52652
13,PA,Belém,226664,49758,86739
14,PB,João Pessoa,100154,26585,34729
15,PE,Recife,149647,68413,76410
16,PI,Teresina,108856,32689,42344
17,PR,Curitiba,61953,44704,78188
18,RJ,Rio de Janeiro,679421,149891,252856
19,RN,Natal,85348,23464,26516
20,RO,Porto Velho,55731,20539,37924
21,RR,Boa Vista,34838,22555,18624
22,RS,Porto Alegre,95528,29618,60629
23,SC,Florianópolis,18070,14753,23081
24,SE,Aracaju,66502,22798,29664
25,SP,São Paulo,780784,362458,677702
26,TO,Palmas,24176,15336,24211

### 6.3.3 Consulta 8 // colocar periodo na consulta

Municípios de Rondônia por indicador

In [11]:
query = """
SELECT Municipio.nome_municipio, 
       SUM(FamiliasPobres.qtd_familias) AS familias_pobres, 
       SUM(FamiliasBaixaRenda.qtd_familias) AS familias_baixa_renda, 
       SUM(FamiliasAcimaMeioSalario.qtd_familias) AS familias_acima_meio_salario
FROM Municipio
LEFT JOIN FamiliasPobres
    ON Municipio.codigo_ibge = FamiliasPobres.codigo_ibge
LEFT JOIN FamiliasBaixaRenda
    ON Municipio.codigo_ibge = FamiliasBaixaRenda.codigo_ibge
LEFT JOIN FamiliasAcimaMeioSalario
    ON Municipio.codigo_ibge = FamiliasAcimaMeioSalario.codigo_ibge
WHERE TRIM(Municipio.uf) = 'RO'
GROUP BY Municipio.nome_municipio
ORDER BY Municipio.nome_municipio;
"""

df = pd.read_sql_query(query, conn)
df

,nome_municipio,familias_pobres,familias_baixa_renda,familias_acima_meio_salario
0,Alta Floresta D'oeste,1890141,1775312,2653167
1,Alto Alegre dos Parecis,452419,841071,1027532
2,Alto Paraíso,1379521,1582922,2017312
3,Alvorada D'oeste,1726065,1110901,1974478
4,Ariquemes,8950370,6257878,9750906
5,Buritis,2459204,1933096,2827286
6,Cabixi,336985,422411,568458
7,Cacaulândia,350053,443465,753104
8,Cacoal,6791367,5728624,10752423
9,Campo Novo de Rondônia,698049,806707,971025
10,Candeias do Jamari,4740175,1860496,3478508
11,Castanheiras,299959,257125,427130
12,Cerejeiras,1430704,1013496,1765632
13,Chupinguaia,1042415,472142,983851
14,Colorado do Oeste,536756,826430,1349392
15,Corumbiara,324764,548009,843128
16,Costa Marques,2602589,956626,1785234
17,Cujubim,1409287,1653586,1886995
18,Espigão D'oeste,1634468,2297306,3296403
19,Governador Jorge Teixeira,1104125,825946,925529
20,Guajará-Mirim,6326001,2628967,3826625
21,Itapuã do Oeste,788073,998492,1193544
22,Jaru,3936735,3842718,5543494
23,Ji-Paraná,9125941,7685194,13669491
24,Machadinho D'oeste,2997049,2936670,4520560
25,Ministro Andreazza,746691,535667,915849
26,Mirante da Serra,935572,1104488,1993959
27,Monte Negro,1764180,983488,1501731
28,Nova Brasilândia D'oeste,1671010,1558359,2422057
29,Nova Mamoré,3380135,2016828,2416128
30,Nova União,925529,502392,851598
31,Novo Horizonte do Oeste,557810,806586,1295789
32,Ouro Preto do Oeste,2872782,2607792,4340028
33,Parecis,477103,299354,732292
34,Pimenta Bueno,1763817,2126454,3911930
35,Pimenteiras do Oeste,302984,203038,461615
36,Porto Velho,70780402,28022874,52498996
37,Presidente Médici,2663815,1593449,3420670
38,Primavera de Rondônia,366146,260634,630168
39,Rio Crespo,247566,286528,440440
40,Rolim de Moura,2212848,4073586,6253159
41,Santa Luzia D'oeste,734349,519937,1294942
42,Seringueiras,976833,1164020,1630717
43,São Felipe D'oeste,218042,388652,1050280
44,São Francisco do Guaporé,1679480,1417878,2223617
45,São Miguel do Guaporé,1306800,1641244,3143701
46,Teixeirópolis,461373,357434,597982
47,Theobroma,637912,750563,1075327
48,Urupá,1301355,610445,1353506
49,Vale do Anari,1315875,799568,1558964
50,Vale do Paraíso,630289,570031,815782
51,Vilhena,5701520,6487536,12321672

## 6.4 Duas consultas envolvendo agregação sobre junção de duas ou mais relações

### 6.4.1 Consulta 9

Soma total de famílias por estado (UF) para cada indicador no período de 2024-01

In [12]:
query = """
SELECT 
    Municipio.uf,
    SUM(FamiliasPobres.qtd_familias) AS total_familias_pobres,
    SUM(FamiliasBaixaRenda.qtd_familias) AS total_familias_baixa_renda,
    SUM(FamiliasAcimaMeioSalario.qtd_familias) AS total_familias_acima_meio_salario
FROM Municipio
LEFT JOIN FamiliasPobres 
    ON Municipio.codigo_ibge = FamiliasPobres.codigo_ibge
    AND FamiliasPobres.mes = '202401' 
LEFT JOIN FamiliasBaixaRenda 
    ON Municipio.codigo_ibge = FamiliasBaixaRenda.codigo_ibge
    AND FamiliasBaixaRenda.mes = '202401' 
LEFT JOIN FamiliasAcimaMeioSalario 
    ON Municipio.codigo_ibge = FamiliasAcimaMeioSalario.codigo_ibge
    AND FamiliasAcimaMeioSalario.mes = '202401' 
GROUP BY Municipio.uf
ORDER BY Municipio.uf;
"""

df = pd.read_sql_query(query, conn)
df

,uf,total_familias_pobres,total_familias_baixa_renda,total_familias_acima_meio_salario
0,AC,131828,34702,36229
1,AL,550019,136402,202743
2,AM,691541,133955,205847
3,AP,136028,30956,44888
4,BA,2605733,663345,1032568
5,CE,1490291,431354,557395
6,DF,206992,82975,92956
7,ES,311318,177559,256686
8,GO,506348,327976,494931
9,MA,1241169,259376,382004
10,MG,1603988,870290,1325169
11,MS,213811,141426,256919
12,MT,261962,164268,306192
13,PA,1414494,337229,486731
14,PB,694722,174336,246611
15,PE,1713829,425025,607796
16,PI,620123,137365,206614
17,PR,611364,456098,750208
18,RJ,2047565,479682,839929
19,RN,511887,156901,210668
20,RO,132325,84894,136565
21,RR,80538,31301,31109
22,RS,653176,304610,592367
23,SC,235354,173086,281300
24,SE,400498,101646,144431
25,SP,2777929,1277452,2211296
26,TO,152566,88575,125221

### 6.4.2 Consulta 10 // colocar periodo na consulta

Média de famílias pobres por estado (UF)

In [13]:
query = """
SELECT TRIM(Municipio.uf) AS uf, 
       AVG(FamiliasPobres.qtd_familias) AS media_familias_pobres
FROM Municipio
JOIN FamiliasPobres
    ON Municipio.codigo_ibge = FamiliasPobres.codigo_ibge
GROUP BY TRIM(Municipio.uf)
ORDER BY TRIM(Municipio.uf);
"""

df = pd.read_sql_query(query, conn)
df

    uf  media_familias_pobres
0   AC            5726.880165
1   AL            5190.238859
2   AM           10911.972141
3   AP            8239.727273
4   BA            5997.243514
5   CE            7790.361166
6   DF          199963.545455
7   ES            3765.868298
8   GO            1970.394309
9   MA            5548.314621
10  MG            1775.277843
11  MS            2577.646720
12  MT            1754.981947
13  PA            9520.445076
14  PB            2998.014268
15  PE            8878.932678
16  PI            2651.263393
17  PR            1455.273639
18  RJ           20841.337945
19  RN            2948.797496
20  RO            2455.722028
21  RR            5292.424242
22  RS            1346.788184
23  SC             749.125424
24  SE            5086.427879
25  SP            4069.318252
26  TO            1052.914977

# 7. Autoavaliação dos membros